Comprehensive list:

In [ ]:
# Q.1
l1=[i**2 for i in range(1,11)]
l1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Q.2
even=[i for i in range(1,51) if i%2==0]
even

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [13]:
# Q3.
st="My name"
l3=[i.upper() for i in st]
l3

['M', 'Y', ' ', 'N', 'A', 'M', 'E']

In [14]:
#Q.4
l=[1,2,3,4,5,6,7,8,9]
l4=[i for i in l if i%2==0]
l4

[2, 4, 6, 8]

In [16]:
#Q.5
l5=[(i,i**2) for i in range(1,6) ]
l5

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [18]:
# Q.6
tr='bride of emperor'
tr1=[vo for vo in tr if vo in ('a','e','i','o','u')]
tr1

['i', 'e', 'o', 'e', 'e', 'o']

In [ ]:
# 6 do not repeat it only extract
tr='bride of emperor'
tr1=[]
for i in tr:
    if i in ('a','e','i','o','u'):
        print(tr1.append(i))

None
None
None
None
None
None

In [30]:
# Q7
li=[[12,23],[1,2,3]]
l3=[ j for i in li for j in i]
l3

[12, 23, 1, 2, 3]

In [37]:
# 8.
k=[-1,3,5,6,-3,-4]
k1=[i if i>=0 else 0 for i in k]
k1

[0, 3, 5, 6, 0, 0]

In [43]:
# Q.9
l4=['dipti','ru','ira','ramanujan']
ll=[len(i) for i in l4 ]
ll

[5, 2, 3, 9]

In [56]:
# Q.10
l1=['apple','And','dipti','shinde','atri']
la=[i for i in l1 if i.startswith(('A','a'))]
la

['apple', 'And', 'atri']

In [61]:
#Q. 11
l=[1,2,3,4,5,6,7,8,9]
li=['even' if i%2==0 else 'odd' for i in l]
li

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [62]:
# Q 12
div=[i for i in range(1,101) if i%3==0 and i%5==0 ]
div

[15, 30, 45, 60, 75, 90]

In [74]:
# Q 13.
table=[[i*j for j in range(1,11)] for i in range(1,6)]
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

In [76]:
# Q 14
d={'name':'dipti','std':18,'marks':90}
ld=[i for i in d]
ld

['name', 'std', 'marks']

In [89]:
# Q 15
sr='i saw 23 feets of anaconda at 12 pm 123'
num=[i for i in sr if i.isdigit()]
num

['2', '3', '1', '2', '1', '2', '3']

In [ ]:
# Q 15  do not repeat them
sr='i saw 23 feets of anaconda at 12 pm 123'
num={i for i in sr if i.isdigit()}
num

{'1', '2', '3'}

In [100]:
# Q.16
sr='i saw 23 feets of anaconda at 12 pm 123'
sr1=[sr.replace(' ','')]
sr1

sr12=''.join([i for i in sr if i!=' '])
sr12

'isaw23feetsofanacondaat12pm123'

In [109]:
# Q 17
sr='i saw 23 feets of anaconda at 12 pm 123 x'
srr=list(set([i for i in sr if sr.count(i)>1]))
srr

['n', 'f', 'a', '1', '3', 'e', 's', '2', 'o', 't', ' ']

In [113]:
# Q 18
lq=['dipti shinde fsfs','anarkali chali']
sl=[j for i in lq for j in i.split()]
sl

['dipti', 'shinde', 'fsfs', 'anarkali', 'chali']

In [115]:
# Q.19
sr='i saw 23 feets x'
srr=list(set([i for i in sr ]))
srr

['x', 'f', 'a', 'i', '3', 'e', 's', '2', 'w', 't', ' ']

In [117]:
la=[1,2,3]
lb=[11,22]
lab=[(i,j) for i in la for j in lb]
lab

[(1, 11), (1, 22), (2, 11), (2, 22), (3, 11), (3, 22)]

Lambda Function

In [119]:
# Q.1
add=(lambda a,b:a+b)
print(add(4,6))

10

In [122]:
# Q.2
even=(lambda a: a%2==0 )
print(even(10))

True

In [123]:
# Q.3
last=(lambda x:x[-1] )
print(last('deep'))

p

In [125]:
# Q.4
l=[10,20,30]
sq=list(map(lambda x:x*x,l ))
sq

[100, 400, 900]

In [128]:
# Q.5
l=[1,2,3,4,5,33,55]
odd=list(filter(lambda x:x%2!=0,l))
odd

[1, 3, 5, 33, 55]

In [ ]:
# Q.6
lt=[(11,22,33),(1,2,'s'),(100,10)]
#lt=[(100, 8,11), ("Riya", 92), (78)]  this is not acceptable because tuple(100) int object here 100 is int not tuple
s=sorted(lt,key=lambda x:x[1])
s

[(1, 2, 's'), (100, 10), (11, 22, 33)]

In [202]:
# Q.7
pali=(lambda x: x==x[::-1])
print(pali('anana'))
print(pali('qwer'))

True
False

In [204]:
#st='anana'
st=[1,2,3,2,1]
#for i in st:
if st==st[::-1]:
	print('palindrom')
else:
	print('not')

palindrom

In [205]:
# Q.8
m=(lambda a,b,c:max(a,b,c))
print(m(3,2,5))

5

In [ ]:
# Q.9
rev=(lambda x:x[::-1])
print(rev('qwer'))

rewq

In [ ]:
# Q.10

In [210]:
# Q .11
sr=['Dipti',' ','','shinde','Rushi']
re=list(filter(lambda x: x!='' and x!=' ',sr))
re

['Dipti', 'shinde', 'Rushi']

In [212]:
# Q.12
from functools import reduce
fact=lambda n: reduce(lambda x,y: x*y,range(1,n+1))
print(fact(10))

3628800

In [213]:
# Q.13
m=(lambda a,b:max(a,b))
print(m(40,30))

40

In [214]:
# Q .14
d5=lambda x:x%5==0
print(d5(50))

True

In [216]:
# Q.15
l=[0,9,8,7]
add=list(map(lambda x: x+10,l))
add

[10, 19, 18, 17]

In [217]:
# Q.16
ld=[{'name':'dipti','age':22},{'name':'ira','age':12},{'name':'khajur','age':3}]
sld=sorted(ld,key=lambda x:x['age'])
sld

[{'name': 'khajur', 'age': 3},
 {'name': 'ira', 'age': 12},
 {'name': 'dipti', 'age': 22}]

In [220]:
# Q.17
vo=(lambda x: x in 'aeiou')
print(vo('a'))

True

In [1]:
# Q.18
sr=['dipti','anarkali','ira','vallabh']
li=list(filter(lambda x: len(x)>5,sr))
li

['anarkali', 'vallabh']

In [3]:
# Q.19
import math
areac=(lambda r: math.pi*r**2)
print(areac(4))

50.26548245743669

In [5]:
# Q.20 (remove duplicates)
l=[1,1,4,5,6,3,3,7,4]
s=set()
uv=list(filter(lambda x: x not in s and not s.add(x),l))
uv

[1, 4, 5, 6, 3, 7]

In [9]:
# Q,21
from functools import reduce
num=[10,9,8,7]
pr=reduce(lambda x,y:x*y,num)
pr

5040

In [10]:
# Q.22
abs=(lambda x:x if x>=0 else -x)
print(abs(-20))

20

In [11]:
# Q.23
sr=['dipti','anarkali','ira','vallabh']
srs=sorted(sr,key=lambda x:len(x))
print(srs)

['ira', 'dipti', 'vallabh', 'anarkali']

In [14]:
# Q.24
#sr=['DIPTI','anarkali','IRA','vallabh']
sr='DIPTI shinde IS clever'
uc=list(filter(lambda x:x.isupper(),sr))
uc

['D', 'I', 'P', 'T', 'I', 'I', 'S']

In [16]:
# Q.25 (simple)
sr=(lambda x:x**2 if x%2==0 else x**3)
print(sr(23))
print(sr(22))

12167
484

In [17]:
# Q.25 (with maping)
tr=[1,11,20,33,5,7,6,8]
sr=list(map(lambda x:x**2 if x%2==0 else x**3,tr))
sr

[1, 1331, 400, 35937, 125, 343, 36, 64]

In [ ]:
# Q.26 (formula=cel*9/5+32)
cel=[37,32,2,10]
frh=list(map(lambda x:(x*9/5)+32,cel))
frh

[98.6, 89.6, 35.6, 50.0]

In [27]:
# Q.27
ana=(lambda x,y:sorted(x.lower())==sorted(y.lower()))
print(ana('cat','act'))
print(ana('apple','daple'))

True
False

In [30]:
# Q.28
d=['a','d',12,3,3.4,'df','data']
num=list(filter(lambda x:isinstance(x,(int,float)),d))
num

[12, 3, 3.4]

In [32]:
# Q.29
num=[-1,-2,3,4,5]
check=any(map(lambda x:x<0,num))
check

True

In [34]:
# Q.30
n=3
mul=(lambda x: x*n )
print(mul(20))

60