In [ ]:
# 1
name='''Hi How are you?
Starterd learning python.
It's really interesting.
'''

print(name[:])
print(name[-10:-5])
print(name[3:12])
print(name[12:3])
#print(name[5,6]) it will through error
#print(name[-4:-12])  # will not give output because bigger no should be in the first place
print(name[-12:-4])
print(name[::2])
print(name[::-2])
print(name[::-1])

Hi How are you?
Starterd learning python.
It's really interesting.

erest
How are y

nteresti
H o r o?Satr erigpto.I' elyitrsig


gisrtiyle 'I.otpgire rtaS?o r o H

.gnitseretni yllaer s'tI
.nohtyp gninrael dretratS
?uoy era woH iH

In [1]:
# Q.2
l1 = ['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
print(l1[:])
print(l1[::3])
print(l1[3::])
print(l1[::-2])
print(l1[-2])
print(l1[8])
type(l1[4])
print(l1[5:8])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
[30, 't', 100, 300, 400, 'Happy', 'major']
['major', 400, 100, 30, 'b']
Happy
Happy
[100, 300, 400]

In [1]:
# Q.3
l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']
print(l2[4])
print(l2[1:5])
print(l2[7])
print(l2[7][2])
print(l2[7][2:])
print(l2[:3])
print(l2[3:])

['a', 'b', 'work hard']
[2, 3, 5, ['a', 'b', 'work hard']]
Success
c
ccess
[1, 2, 3]
[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
# Q.4
l2[4][1]='BEE'
l2

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [ ]:
# Q.5
l2[4].remove('BEE')
l2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [ ]:
# Q.6
#data={'insect':['bee','moth'],'bird':['parrot','sparrow']}
l2.append({'insect':['bee','moth'],'bird':['parrot','sparrow']})
l2

[1,
 2,
 3,
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']},
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
# Q.7
l2[8]['insect']

['bee', 'moth']

In [ ]:
# Q.8
d1={'a':10,'b':20,'c':30}
l2.insert(2,d1)

In [26]:
l2

[1,
 2,
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']},
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
# Q.9
l2[2]['a']

10

In [ ]:
# Q.10
l1=[1,2,3,5,(90,40,50,10),'python',400,['a','b','hard work'],100,200,'success',(200,300,'hundreds')]
print(l1[4][2])
print(l1[5][:])
#print(l1[2][:])
print(l1[1:5])
print(l1[5])
print(l1[5][3:-1])
print(l1[-1])

50
python
[2, 3, 5, (90, 40, 50, 10)]
python
ho
(200, 300, 'hundreds')

In [ ]:
## 11.
def marks(marks):
    #if (not marks.isalpha() or not marks.isalnum()) or marks.isdigit():
        #marks = float(marks)
        if marks > 100 and marks<0:
            if marks >= 80:
                return "You got distinction"
            elif marks >= 60:
                return "You got first class"
            elif marks >= 40:
                return "second class"
            elif marks >= 35:
                return "Pass"
            else:
                return "Fail"
        else:
            return "Invalid marks"

In [ ]:
def marks(marks):
    if marks > 100 and marks<0:
            if marks >= 80:
                return "You got distinction"
            elif marks >= 60:
                return "You got first class"
            elif marks >= 40:
                return "second class"
            elif marks >= 35:
                return "Pass"
            else:
                return "Fail"
    else:
            return "Invalid marks"

In [45]:
marks(30)

'Fail'

In [4]:
# Q.11 with axception

def marks(marks):
    try:
        marks=float(marks)
        if marks > 100 and marks<0:
               return 'invalid marks'
        elif marks >= 80:
                return "You got distinction"
        elif marks >= 60:
                return "You got first class"
        elif marks >= 40:
                return "second class"
        elif marks >= 35:
                return "Pass"
        else:
                return "Fail"
        
            
    except ValueError as v:
        return f'Value Error: {v}'
    except TypeError as t:
        return f'Type Error: {t}'

In [5]:
marks(34.j)

"Type Error: float() argument must be a string or a real number, not 'complex'"

In [ ]:
# 11. With OOPs

In [2]:
#12.Ask user to enter information about salary of the employee per year and rating received as A, B, C, D
#If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6%
#If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6%
#If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment
#If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no

sal=int(input('enter salary: '))
rate=input('enter employee rating(A/B/C/D):').upper()

if sal<=500000:
    
    if rate=='A':
        sal=sal*1.16
    elif rate=='B':
           sal=sal*1.12
    elif rate=='C':
         sal=sal*1.10
    else:
         sal=sal*1.06         
elif sal>500000 and sal<=1000000:
    if rate=='A':
        sal=sal*1.14
    elif rate=='B':
           sal=sal*1.10
    elif rate=='C':
         sal=sal*1.08
    else:
         sal=sal*1.06
elif sal>1000000 and sal<=1500000:
    if rate=='A':
        sal=sal*1.08
    elif rate=='B':
           sal=sal*1.06
    elif rate=='C':
         sal=sal*1.04
    else:
         print('No increment') 
elif sal>1500000 and sal<=2300000:
    if rate=='A':
        sal=sal*1.07
    elif rate=='B':
           sal=sal*1.05
    elif rate=='C':
         sal=sal*1.04
    else:
         print('no Increment') 
else:
    print("Not defined value")
    
print('Salary after increment: ',int(sal))

Salary after increment:  580000

In [ ]:
# Q.12 with function
def after_salary(salary, rate):
    
	rate=rate.upper()
	if salary <= 500000:
		if rate=='A':
			salary=salary * 1.16
			return salary
		elif rate=='B':
			salary=salary * 1.12
			return salary
		elif rate=='C':
			salary=salary * 1.10
			return salary
		elif rate=='D':
			salary=salary * 1.06
			return salary
		else:
			return 'invalid rating selected'

	elif salary > 500000 and salary <= 1000000:
		if rate=='A':
			salary=salary * 1.14
			return salary
		elif rate=='B':
			salary=salary * 1.10
			return salary
		elif rate=='C':
			salary=salary * 1.08
			return salary
		elif rate=='D':
			salary=salary * 1.06
			return salary
		else:
			return 'invalid rating selected'

	elif salary > 1000000 and salary <= 1500000:
		if rate=='A':
			salary=salary * 1.08
			return salary
		elif rate=='B':
			salary=salary * 1.06
			return salary
		elif rate=='C':
			salary=salary * 1.04
			return salary
		elif rate=='D':
			return 'No increment'  # no increment
		else:
			return 'Invalid rating'

	elif salary > 1500000 and salary <= 2300000:
		if rate=='A':
			salary = salary * 1.07
			return salary
		elif rate == 'B':
			salary = salary * 1.05
			return salary
		elif rate == 'C':
			salary = salary * 1.04
			return salary
		elif rate == 'D':
			return 'No increment'   # no increment
		else:
			return 'Invalid rating'

	else:
		return "Not defined value"

In [55]:
after_salary(1600000,'d')

'No increment'

In [10]:
def after_salary_inc(salary, rate):
	try:

		if not isinstance (salary,(int,float)):
			raise TypeError('Salary must be numeric')
		if not isinstance(rate,str):
			raise TypeError('rating must be a string')

		rate=rate.upper()
		if salary <= 500000:
			if rate=='A':
				salary=salary * 1.16
				return salary
			elif rate=='B':
				salary=salary * 1.12
				return salary
			elif rate=='C':
				salary=salary * 1.10
				return salary
			elif rate=='D':
				salary=salary * 1.06
				return salary
			else:
				return 'invalid rating selected'

		elif salary > 500000 and salary <= 1000000:
			if rate=='A':
				salary=salary * 1.14
				return salary
			elif rate=='B':
				salary=salary * 1.10
				return salary
			elif rate=='C':
				salary=salary * 1.08
				return salary
			elif rate=='D':
				salary=salary * 1.06
				return salary
			else:
				return 'invalid rating selected'

		elif salary > 1000000 and salary <= 1500000:
			if rate=='A':
				salary=salary * 1.08
				return salary
			elif rate=='B':
				salary=salary * 1.06
				return salary
			elif rate=='C':
				salary=salary * 1.04
				return salary
			elif rate=='D':
				return 'No increment'  # no increment
			else:
				return 'Invalid rating'

		elif salary > 1500000 and salary <= 2300000:
			if rate=='A':
				salary = salary * 1.07
				return salary
			elif rate == 'B':
				salary = salary * 1.05
				return salary
			elif rate == 'C':
				salary = salary * 1.04
				return salary
			elif rate == 'D':
				return 'No increment'   # no increment
			else:
				return 'Invalid rating'

		else:
			return "Not value selected"
	except TypeError as t:
		print('Type error: ',t)
	except ValueError as v:
		print('Value is wrong',v)
	except Exception:
		print('error')

In [16]:
after_salary_inc(2000000,'a')

2140000.0

In [ ]:
# Q.12 With function using dictionary
def after_salary_inc(salary, rate):
    try:
        if not isinstance(salary, (int, float)):
            raise TypeError("Salary must be numeric")

        if not isinstance(rate, str):
            raise TypeError("Rating must be a string")

        rate = rate.upper()

        if salary <= 500000:
            inc = {'A': 1.16, 'B': 1.12, 'C': 1.10, 'D': 1.06}
        elif salary <= 1000000:
            inc = {'A': 1.14, 'B': 1.10, 'C': 1.08, 'D': 1.06}
        elif salary <= 1500000:
            inc = {'A': 1.08, 'B': 1.06, 'C': 1.04, 'D': 1.00}
        elif salary <= 2300000:
            inc = {'A': 1.07, 'B': 1.05, 'C': 1.04, 'D': 1.00}
        else:
            raise ValueError("Salary range not defined")

        if rate not in inc:
            raise ValueError("Invalid rating selected")

        if inc[rate] == 1.00:
            return "No increment"

        return salary * inc[rate]

    except TypeError as t:
        return f"Type error: {t}"

    except ValueError as v:
        return f"Value error: {v}"

    except Exception as e:
        return f"Unexpected error: {e}"

    finally:
        print("Execution completed")

In [56]:
after_salary_inc(1600000,'d')

Execution completed

'No increment'

In [84]:
sal=input('enter salary: ')
rate=input('enter employee rating(A/B/C/D):').upper()
if sal.isdigit():
	sal=int(sal)
	if sal<=500000:
		
		if rate=='A':
			sal=sal*1.16
		elif rate=='B':
			sal=sal*1.12
		elif rate=='C':
			sal=sal*1.10
		else:
			sal=sal*1.06         
	elif sal>500000 and sal<=1000000:
		if rate=='A':
			sal=sal*1.14
		elif rate=='B':
			sal=sal*1.10
		elif rate=='C':
			sal=sal*1.08
		else:
			sal=sal*1.06
	elif sal>1000000 and sal<=1500000:
		if rate=='A':
			sal=sal*1.08
		elif rate=='B':
			sal=sal*1.06
		elif rate=='C':
			sal=sal*1.04
		else:
			print('No increment') 
	elif sal>1500000 and sal<=2300000:
		if rate=='A':
			sal=sal*1.07
		elif rate=='B':
			sal=sal*1.05
		elif rate=='C':
			sal=sal*1.04
		else:
			print('no Increment') 
	else:
		print("Not defined")
	
	print('Salary after increment: ',int(sal))	
else:
	print('Invalid salary input.Please enter correct salary')

Invalid salary input.Please enter correct salary

In [ ]:
subject=input('Enter sunject (HR/Finance/Marketing/DS): ')
analytics=input('choose subject analytics (Y/N)').upper()
hostel=input('select hostel stay (Y/N): ').upper()
food=input('how many months do you need food: ')
transport=input('enter how do you need transportation(semester/annual): ')

fees=200000
if subject not in ('HR','Finance','Marketing','DS'):
     print('invalid subject selected')
else:
    if analytics=='Y' and subject!='DS':
           fees=fees+fees*1.10
    else:
         print('Analystics is not for DS')
         
# Hostel fee		 
    if hostel=='Y':
        fees=fees+200000
# For food
    if food.isdigit():
         fees+=int(food)*2000
    else:
         print('Invalid food month selected') 
# transportation
    if transport=='semester':
         fees=fees+13000
    elif transport=='annual':
         fees=fees+(13000*2)
    else:
         print('Invalid transport option')
    print('Total annual cost price is: ',int(fees))

Total annual cost price is:  643000

In [57]:
# Base fee
fees = 200000

# User inputs
subject = input("Enter subject (HR/Finance/Marketing/DS): ")
analytics = input("Analytics (Y/N): ").upper()
hostel = input("Hostel (Y/N): ").upper()
food_months = input("Food required for how many months?: ")
transport = input("Transportation (Semester/Annual): ").lower()

# Validate subject
if subject not in ('HR', 'Finance', 'Marketing', 'DS'):
    print("Invalid subject selected")
else:
    # Analytics fee
    if analytics == 'Y':
        if subject != 'DS':
            fees += fees * 0.10
        else:
            print("Analytics not available for DS")

    # Hostel fee
    if hostel == 'Y':
        fees += 200000

    # Food fee
    if food_months.isdigit():
        fees += int(food_months) * 2000
    else:
        print("Invalid food month input")

    # Transportation fee
    if transport == 'semester':
        fees += 13000
    elif transport == 'annual':
        fees += 13000 * 2
    else:
        print("Invalid transportation option")

    print("\nTotal Annual Cost: ₹", int(fees))

Total Annual Cost: ₹ 441000

In [ ]:
def fee_calculation(subject, analytics, hotel, food_months, transport):
    try:
        # Type validation
        if not isinstance(subject, str):
            raise TypeError("Subject must be string")

        if not isinstance(analytics, str):
            raise TypeError("Analytics must be string")

        if not isinstance(hotel, str):
            raise TypeError("Hotel must be string")

        if not isinstance(transport, str):
            raise TypeError("Transport must be string")

        if not isinstance(food_months, int):
            raise TypeError("Months must be integer")

        subject = subject.upper()
        analytics = analytics.upper()
        hotel = hotel.upper()
        transport = transport.upper()

        fees = 200000

        # Subject validation
        if subject not in ('HR', 'FINANCE', 'MARKETING', 'DS'):
            raise ValueError("Invalid subject selected")

        # Analytics fee
        if analytics == 'Y':
            if subject != 'DS':
                fees += fees * 0.10
            else:
                return "Analytics not available for DS"

        # Hostel fee
        if hotel == 'Y':
            fees += 200000

        # Food fee
        if food_months > 0:
            fees += food_months * 2000
        else:
            raise ValueError("Invalid food month input")

        # Transportation fee
        if transport == 'SEMESTER':
            fees += 13000
        elif transport == 'ANNUAL':
            fees += 26000
        else:
            raise ValueError("Invalid transportation option")

        return f"Total Annual Cost: ₹{int(fees)}"

    except TypeError as t:
        return f"Type error: {t}"
    except ValueError as v:
        return f"Value error: {v}"
    except Exception as e:
        return f"Unexpected error: {e}"

In [2]:
class studentinfo:

    def __init__(self, subject, analytics, hostel, food_months, transport):
        self.base_fee = 200000
        self.subject = subject.upper()
        self.analytics = analytics.upper()
        self.hostel = hostel.upper()
        self.food_months = food_months
        self.transport = transport.lower()
        self.total = 0

    
    def course_fee(self):
        if self.subject not in ["HR", "FINANCE", "MARKETING", "DS"]:
            raise ValueError("Invalid Subject Selected")

        fee = self.base_fee

        if self.analytics == "Y":
            if self.subject == "HR" or self.subject == "MARKETING" or self.subject=="FINANCE":
                fee += 0.10 * self.base_fee
            elif self.subject == "DS":
                print("Analytics not available for DS")
        elif self.analytics=="N":
                fee=self.base_fee

        return fee

   
    def hostel_fee(self):
        if self.hostel not in ["Y", "N"]:
            raise ValueError("Hostel option must be Y or N")

        if self.hostel == "Y":
            return 200000
        elif self.hostel=="N":
            return 0

   
    def food_fee(self):
        if self.food_months < 0:
            raise ValueError("Food months cannot be negative")
        return self.food_months * 2000

    
    def transport_fee(self):
        if self.transport == "semester":
            return 13000
        elif self.transport == "annual":
            return 26000
        else:
            raise ValueError("Transport must be semester or annual")

   
    def calculate_total(self):
        self.total = (self.course_fee() + self.hostel_fee() + self.food_fee() + self.transport_fee())
        return self.total

try:
    subject = input("Enter Subject (HR/Finance/Marketing/DS): ")
    analytics = input("Analytics? (Y/N): ")
    hostel = input("Hostel? (Y/N): ")
    food_months = int(input("Food months: "))   
    transport = input("Transportation (semester/annual): ")
    student=studentinfo(subject, analytics, hostel, food_months, transport)
    

    total = student.calculate_total()
    print("Total Annual Cost: Rs", total)

except ValueError as e:
    print("Error:", e)

except Exception as e:
    print("Something went wrong:", e)

Total Annual Cost: Rs 441000.0

In [ ]:
# 14. For Books
# for choosing only one subject

subject=input('Choose subject (Hindi/Marathi/English/Science/Maths): ').upper()
std=int(input('Choose std (1-4/5-8/9-10): '))
price=0
if subject not in ('Hindi','Marathi','English','Science','Maths'):
    print('Invalid subject selected')

elif 1<= std <=4:
        if subject in ('Hindi','Marathi'):
            price=60
        elif subject=='English':
            price=80
        elif subject=='Science':
            price=90
        else:
            price=100
    
elif 5<=std<=8:
        if subject in ('Hindi' ,'Marathi' ,'English'):
            price=100
        elif subject=='Science':
            price=120
        else:    
            price=140
    
elif 9<=std<=10:
        if subject in ('Hindi' ,'Marathi' ,'English'):
            price=150
        elif subject=='Science':
            price=200
        else:    
            price=250
else:
    print('Invalid object entered')
if price>0:           
     print('Price of book',price)

Invalid subject selected

In [9]:
def get_price(subject,std):
    if 1<= std <=4:
        if subject in ('Hindi','Marathi'):
            return 60
        elif subject=='English':
            return 80
        elif subject=='Science':
            return 90
        else:
            return 100
            
    elif 5<=std<=8:
        if subject in ('Hindi' ,'Marathi' ,'English'):
            return 100
        elif subject=='Science':
            return 120
        else:    
            return 140
            
    elif 9<=std<=10:
        if subject in ('Hindi' ,'Marathi' ,'English'):
            return 150
        elif subject=='Science':
            return 200
        else:    
           return 250
    return 0

subject1=input('Choose first sub: ')
subject2=input('Choose second sub: ')
std= int(input('Choose std (1-4/5-8/9-10): '))
price=0

valid_sub=('Hindi','Marathi','English','Science','Maths')

if subject1 not in valid_sub or subject2 not in valid_sub:
    print('Invalid subject enter')
    
else:
    price1=get_price(subject1,std)
    price2=get_price(subject2,std)
    total=price1+price2
    
    print('Price of',subject1,':',price1)
    print('Price of',subject2,':',price2)
    print('Total price: ',total)

Price of Hindi : 60
Price of Marathi : 60
Total price:  120

In [3]:
# 14. For notebooks
notebook=input('Enter notebook type(square/4lines/2lines/single lines/A4 notebook)')
page=int(input('Enter how many page do you want(100/200): '))
price=0

if notebook not in ('Square','4lines','2lines','Single lines','A4 notebook'):
    print('Invalid subject added')
elif page==100:
    if notebook=='Square':
        price=40
    elif notebook in ('4lines','2lines'):
        price=30
    elif notebook=='Single lines':
        price=60
    else:
        price=100
elif page==200:
    if notebook=='Square':
        price=70
    elif notebook in('4lines','2lines'):
        price=50
    elif notebook=='Single lines':
        price=100
    else:
        price=180
        
else:
    print('Invalid subject added')
print('Price of notebook: ',price)

Price of notebook:  40

In [ ]:


def get_price(notebook, page):
    if page == 100:
        if notebook == 'Square':
            return 40
        elif notebook in ('4lines', '2lines'):
            return 30
        elif notebook == 'Single lines':
            return 60
        else:   # A4 notebook
            return 100

    elif page == 200:
        if notebook == 'Square':
            return 70
        elif notebook in ('4lines', '2lines'):
            return 50
        elif notebook == 'Single lines':
            return 100
        else:   # A4 notebook
            return 180

    return 0

notebook1 = input('Choose Notebook 1: ')
notebook2 = input('Choose Notebook 2: ')
page = int(input('Enter page (100/200): '))

valid_notebook = ('Square', '4lines', '2lines', 'Single lines', 'A4 notebook')

if notebook1 not in valid_notebook or notebook2 not in valid_notebook:
    print('Invalid notebook selected')

else:
    price1 = get_price(notebook1, page)
    price2 = get_price(notebook2, page)
    total = price1 + price2

    print('Price of', notebook1, ':', price1)
    print('Price of', notebook2, ':', price2)
    print('Total price:', total)

In [8]:
a=100
a=str(a)
a=list(a)
a=tuple(a)
#a=dict(a)  # it needs the key value pair also
a=set(a)
#a=float(a)   # it will not work because float takes real num or string

In [13]:
city='pune'
#city=int(city)   cannot covert into int
#city=float(city)
#city=list(city)
city=tuple(city)
#city=dict(city)
city=set(city)

In [18]:
marks = [20,18,15,17,18] 
#marks=int(marks)
#marks=float(marks)
marks=tuple(marks)
#marks=dict(marks)
marks=set(marks)

In [27]:
snames=[]
snames.append(20)
snames.extend([30])
snames.append([40,5,6])
snames.extend('work')
new=[1, 'a', 'b' ,2 , 3]
new_list=new+snames
snames
new_list

[1, 'a', 'b', 2, 3, 20, 30, [40, 5, 6], 'w', 'o', 'r', 'k']

In [28]:
snames.append(new)

In [29]:
snames.extend(new)
snames

[20,
 30,
 [40, 5, 6],
 'w',
 'o',
 'r',
 'k',
 [1, 'a', 'b', 2, 3],
 1,
 'a',
 'b',
 2,
 3]

In [31]:
#11.Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1 

l1=[1,2]
l3=[1,2,3,4,5,6,7]
l3[4]=l1

In [32]:
l3

[1, 2, 3, 4, [1, 2], 6, 7]

In [ ]:
#12.Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] 
# if the data is in integer or float then multiply with 5.  
# •	From the collection delete the record for “Nisha” 
# •	Find the location of 20.50 

l=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]

for i in range(len(l)):
    if type(l[i])==int or type(l[i])==float:
        l[i]=l[i]*5
print(l)

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

In [131]:
l=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
i=0
while i <len(l):
    if isinstance(l[i],(int,float)):
        print(l[i]*5)
    i+=1

5
10
15
500
102.5
450.5

In [39]:
l.remove('Nisha')

In [40]:
l=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
l.index(20.50)

6

In [135]:
#13.Create a comprehensive list for square upto 10 

square=[i*i for i in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [143]:
square=[]
i=1
while i <=10:
    square.append(i*i)
    i+=1
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
#14.Create the comprehensive list to find number divisible by 13 till 200

list1=[i for i in range(1,201) if i%13==0]
list1

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [29]:
div=[]
i=1
while i <= 200:
   if i%13==0:
       div.append(i)
   i+=1
print(div)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [55]:
list2=[i for i in range(300,380) if i%4==0]
list2

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376]

In [30]:
four=[]
i = 300

while i < 380:
    if i % 4 == 0:
        four.append(i)
    i += 1
print(four)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376]

In [59]:
x=2
y=2
x_=[i for i in range(x)]
y_=[j for j in range(y)]
result=[[i,j] for i in x_ for j in y_]
print(result)

[[0, 0], [0, 1], [1, 0], [1, 1]]

In [60]:
x=2
y=2
for i in range(x):
    for j in range(y):
        print([i,j])

[0, 0]
[0, 1]
[1, 0]
[1, 1]

In [167]:
x=2
y=2
i=0
while i<x:
    j=0
    while j<y:
        print([i,j])
        j += 1
    i += 1

[0, 0]
[0, 1]
[1, 0]
[1, 1]

In [31]:
# 17.What is the difference between add and update methods in set? 
s={1,4,6,2}
s.add(5)   # add can add only single element
s.add('di')

s.update({10,11})  # update can add more than one element
s.update([33,44,55])
s

{1, 10, 11, 2, 33, 4, 44, 5, 55, 6, 'di'}

In [71]:
s

{1, 10, 11, 2, 33, 4, 44, 5, 55, 6, 'di'}

In [ ]:
l=[4,5,6,7,8]
l.append(20)   # add element at the last
l.append([11,22])
l.extend([10,20])  # add multiple element
l

[4, 5, 6, 7, 8, 20, [11, 22], 10, 20]

In [1]:
ask=input("Do you want Books(1) or NoteBook(2)")
if ask=='1':
  standard=int(input("Enter Standard: "))
  subject=input("Enter Subject: ")
  if standard >=1 and standard <=4:
    new_standard='1st-4th'
  elif standard >= 5 and standard <=8:
    new_standard='5th-8th'
  else:
    new_standard='9th-10th'

  my_dict={
    
    '1st-4th':
    {
    'Books':
    {
        'Hindi': 60,
        'Marathi':60,
        'English': 80,
        'Science':90,
        'Maths':100
    },
        
    },
    '5th-8th':
    {
    'Books':
    {
        'Hindi': 100,
        'Marathi':100,
        'English': 100,
        'Science':120,
        'Maths':140
    },
    '9th-10th':
    {
    'Books':
    {
        'Hindi': 150,
        'Marathi':150,
        'English': 150,
        'Science':200,
        'Maths':250
    },
    
         
    }
   }
  }
  price=my_dict[new_standard]['Books'][subject]
  print('Price of item: ',price) 
else:
  pagess=int(input("Enter Pages: "))
  book_types=input("Enter Book Types: ")
  
  if pagess==100:
    new_pages='Pages100'
  else:
    new_pages='Pages200'
  my_dict_2={
            'Pages100':
            {
               'sqaure':40,
               '4lines':30,
               '2lines':20,
               'single lines':60,
               'A4 Notebook':100
            },
            'Pages200':
            {
                'sqaure':70,
                '4lines':50,
                '2lines':50,
                'single lines':100,
                'A4 Notebook':180,
            }

        }

Price of item:  60

In [ ]:
#22.Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.

se={1,5,7,8,4}
se1={3,4,5,9,10}
se.union(se1)
se.intersection(se1)
se.difference(se1)

{1, 7, 8}

In [ ]:
name=input('Enter your name')
dob=input('enter dateof birth:')

#name_part = name[:4]
day, month, year = dob.split('-')
password = name[:4] + "@" + day + month
print("Generated Password:", password)

Generated Password: dipt@0602

In [ ]:
def create_password(name,dob):
    #dob=dob.format()
    
    dob_part=dob[-4:]
    password=name[:4]+'@'+dob_part
    print('password:',password)

In [23]:
create_password('dipti','06-02-2003')

password: dipt@2003

In [6]:
name = input("Enter name: ")
dob = input("Enter DOB (dd-mm-yyyy): ")

name_part=name[:4]
day_month=dob[0:2] + dob[3:5]
password=f"{name_part}@{day_month}"
print('Generated password:',password)

Generated password: Dipt@0602

In [ ]:
# SURE@1978 
name=input('Enter your name')
dob=input('enter date of birth(dd/mm/yyyy):')

name_part=name[:4]
year=dob[-4:]
password=f"{name_part}@{year}"
print('Here is your password: ',password)

Here is your password:  dipt@2003

FORMAT CREATING

In [9]:
for i in range(1,5):
    print('* '*i)

*
* *
* * *
* * * *

In [37]:
for i in range(1,5):
    for j in range(i):
        print(i,end='')
    print()

1
22
333
4444

In [41]:
for i in range(4,0,-1):
    print('*'*i)

****
***
**
*

In [42]:
for i in range(4,0,-1):
    for j in range(i):
        print(i,end='')
    print()

4444
333
22
1

In [21]:
val=input('enter value:')

ab=''
for i in range(len(val)):
    ab=ab+val[i]
    print(ab)

q
qw
qwe
qwer

In [26]:
val=input('enter val')

for i in range(len(val)):
    for j in range(i+1):
        print(val[j],end=' ')
    print()

A
A B
A B C
A B C D

In [33]:
str_val=input('enter val')

for i in range(len(str_val)):
    print(str_val[i]*(i+1))

q
ww
eee
rrrr

In [53]:
for i in range(1,5):
    print(i,i*(i+1))

1 2
2 6
3 12
4 20

In [46]:
str_val=input('enter val')

count = len(str_val)

for i in str_val:
    print(i * count)
    count -= 1

qqqq
www
ee
r

In [24]:
for i in range(1,5):
   print(str(i)*i)

1
22
333
4444

In [30]:
for i in range(1,5):
    for j in range(i):
        print(i,end='')
    print()

1
22
333
4444

In [31]:
for i in range(4,0,-1):
    print(str(i)*i)

4444
333
22
1

In [35]:
#31.
val='ABCD'
for i in range(1,len(val)+1):
    print(val[::-1][:i])
    

rev=val[::-1]
for i in range(len(rev)):
    for j in range(i+1):
        print(rev[j],end='')
    print()
    
rev=val[::-1]
for i in range(len(rev)):
    for j in range(i+1):
        print(rev[i],end='')
    print()

D
DC
DCB
DCBA
D
DC
DCB
DCBA
D
CC
BBB
AAAA

In [42]:
#33.Create a list of odd numbers from 1 to 10
#  1.Using for loop
#   2.Using comprehensive list

for i in range(1,11):
   if i%2!=0:
       print(i)
       
odd=[i for i in range(1,11) if i%2!=0]

1
3
5
7
9

In [43]:
odd=[i for i in range(1,11) if i%2!=0]
odd

[1, 3, 5, 7, 9]

In [ ]:
#34.Create even number list using for loop from 200 to 250

for i in range(200,250):
    if i%2==0:
        print(i)

In [51]:
#35.List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
# Multiply each and every element by 2 and display the answer

list2= [2,70,'work','para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
l3=[]

for i in (list2):
    if type(i) in (int,float,str,list) :
        l3.append(i*2)
    else:
        l3.append(i)

In [43]:
#38.Create a function to validate user first name/last name. User first name/last name should contain only characters.
#No special characters, numbers, space in name 

def name(name):
    if name.isalpha():
        print(name)
    else:
        print('Invalid name')

In [44]:
name('dipt i')

Invalid name

In [87]:
#39.Create a function to accept mobile number. 
#Mobile number should contain 10 digits. No Special character, alphabets and space. 

def mobile_num(num):
    if num.isdigit() and len(num)==10:
        print(num)
    else:
        print('Invalid mobile number')

In [89]:
mobile_num('866854931e')

Invalid mobile number

In [92]:
#40.Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB.
# And password must be First name 4 characters and year of birth.
def generate_password(name,dob):
    dobpart= dob[-4:]	
    password=name[:4]+'@' + dobpart
    print(password)

In [93]:
generate_password('shinde','06-02-2003')

shin@2003

In [ ]:
# 41
name=input("name")
dob=input('dob: ')
mobile=int(input('mobile'))
#info={}
if len(info.keys())==0:
    info.update({1:{'name':name,'dob':dob,'mobile':mobile}})
else:
    roll=(len(info.keys()))+1
    info.update({roll:{'name':name,'dob':dob,'mobile':mobile}})
print(info)

{1: {'name': 'shinde', 'dob': '12-12-1212', 'mobile': 'mobile'}, 2: {'name': 'rushi', 'dob': '34-34-3434', 'mobile': 'mobile'}}

In [107]:
def create_dict():
    name=input("name")
    dob=input('dob: ')
    mobile=int(input('mobile'))
    mit={}
    if len(mit.keys())==0:
        mit.update({1:{'name':name,'dob':dob,'mobile':mobile}})
    else:
        roll=(len(mit.keys))+1
        mit.update({roll:{'name':name,'dob':dob,'mobile':mobile}})
    print(mit)

In [108]:
create_dict()

{1: {'name': 'dipti', 'dob': '12-12-1212', 'mobile': 1234567890}}

In [97]:
def val_mobile(mobile):
    if mobile.isdigit() and len(mobile)==10:
        val=mobile
        flag=True
    else:
        val='error'
        flag=False
    return val,flag

In [99]:
val_mobile('1234567890')

('1234567890', True)

In [112]:
# 42.
customer_data={}
def add_customer(name,dob,mobile):
    cust_no=len(customer_data)+1
    customer_data[cust_no]={ 'name':name,'dob':dob,'mobile':mobile}

In [116]:
add_customer('krushne','22-01-2003','1234567890')

In [117]:
print(customer_data)

{1: {'name': 'dipti', 'dob': '06-02-2003', 'mobile': '1234567890'}, 2: {'name': 'krushne', 'dob': '22-01-2003', 'mobile': '1234567890'}}

In [119]:
#45. 
Dict1={'Key': {'subkey':20} ,  'k2':{'sub2' : 5}, 'k3' : {'sub4' :16},  'k4' : {'sub4' : 6}}
sorted_dict=dict(sorted(Dict1.items(),key=lambda item: list(item[1].values())[0]))
print(sorted_dict)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

In [130]:
# 45 second
def sorted_items(item):
    #inner_dict=item[1]
    return list(item[1].values())[0]

sorted_dict=dict(sorted(Dict1.items(), key=sorted_items))
print(sorted_dict)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

In [125]:
type(Dict1)
val=[]
for items in Dict1:
    val.append(items[,][])
val.sort()
print(val)

SyntaxError: invalid syntax (2526377969.py, line 4)

TRY EXCEPTION Example

In [11]:
def withdraw_amount(amount):
    try:
        balance=5000
        if not isinstance(amount,int):
            raise TypeError('Amount must be in int form')
        if amount<=0:
            raise ValueError('Amount must be greater than 0')
        if amount>balance:
            raise ValueError('Withdraw less amount')
        print('Please collect your cash')
    except TypeError as t:
        return t
    except ValueError as v:
        return v
    except Exception as e:
        return (e)

In [12]:
withdraw_amount(600)

Please collect your cash

In [31]:
def withdraw_amount(amount):
    try:
        balance = 5000

        if not isinstance(amount, int):
            raise TypeError("Amount must be an integer")

        if amount <= 0:
            raise ValueError("Amount must be greater than zero")

        if amount > balance:
            raise ValueError("Insufficient balance")
        if type(amount)!=int:
            raise NameError('ASDFG')

        return "Please collect your cash"

    except TypeError as t:
        return f"Type error: {t}"

    except ValueError as v:
        return f"Value error: {v}"
    except NameError as n:
        return f"asdfg {n}"

    except Exception as e:
        return f"Unexpected error: {e}"

In [36]:
withdraw_amount('45r')

'Type error: Amount must be an integer'

In [62]:
def recharges(amount):
    try:
        amount = int(amount)   # convert later
        if amount <= 0:
            raise ValueError("Amount must be positive")
        return "Recharge successful"
    except ValueError:
        return "Invalid recharge amount"
user_input = input("Enter recharge amount: ")
print(recharges(user_input))

Invalid recharge amount

In [70]:
def product(quantity):
    try:
        quantity=int(quantity)
        price=299
        if quantity<0:
            raise ValueError('Quantity must be positive')
        
        total=price*quantity
        return f"Total Price: {total}"
    except ValueError as v:
        return f"Value error: {v}"
    except Exception as e:
        return f"Error : {e}"
user=input('enter quantity')
print(product(user))

Total Price: 598

In [73]:
#4 Student Marks Validation Write a program that:Takes marks as input Marks must be between 0 and 100
#Handle invalid input and out-of-range values using exceptions

def grade(marks):
    try:
        marks=int(marks)
        if 0>marks>100:
            raise ValueError('Enter marks between 0 to 100')
        if marks>=80:
            return "Distinction"
        if marks>=60:
            return "Second class"
        if marks>=35:
            return "Pass"
        return "Fail"
    except ValueError as v:
        return f"value Error: {v}"
    except Exception as e:
        return f"Error: {e}"
    
user=input('enter marks')
print(grade(user))

value Error: invalid literal for int() with base 10: 'rty'

In [88]:
# Create a calculator program that: Takes two numbers from the user Performs division Handle division by zero Handle non-numeric input

def total():
    #a=input('Enter numerator')
    #b=input('Enter Denominator')
    try:
        a=int(input('Enter numerator'))
        b=int(input('Enter Denominator'))
       
        if b==0:
            raise ZeroDivisionError('Denominator must be dreater than zero')
        division=a/b
        return f"Division: {division}"
    except ZeroDivisionError as z:
        return f"Division Error: {z}"
    except ValueError as v:
        return f"Value error: {v}"
    except Exception as e:
        return f"Error: {e}"

In [89]:
total()

'Division: 0.2222222222222222'

In [107]:
#Write a program that:Accepts username from the user Username should contain only alphabets Raise and handle an error for invalid usernames

def user_names():
    try:
        name=input('Enter user Name:')
        if not name.isalpha():
            raise ValueError('Enter valid name (Only alphabets)')
        return f"name: {name}"
    except ValueError as v:
        return f"Value error: {v}"
    except Exception as e:
        return f"Error: {e}"

In [108]:
user_names()

'Value error: Enter valid name (Only alphabets)'

In [125]:
#Create a program that:Accepts age of the user Age must be 18 or above to book ticket 
# Handle invalid age input and underage users using exceptions

def Age():
    try:
        age=input('Enter age:')
        age=int(age)
        if not isinstance(age,int):
            raise ValueError('Age must be int')
        if age>=18:
            return f"User age: {age} can book the ticket"
        return 'User cannot book the ticket'
    except ValueError as v:
        return f"Value error: {v}"
    except Exception as e:
        return f"Error: {e}"

In [127]:
Age()

"Value error: invalid literal for int() with base 10: '23e'"

In [ ]:
#Write a program that:Tries to open a file named data.txt Reads and displays its content
# Handle the case when the file does not exist Use finally block

1st Assignment

In [169]:
#1.Write a list comprehension to generate squares of numbers from 1 to 10. 
list=[i*i for i in range(1,11)]
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#1 while
square=[]
i=1
while i<11:
    square.append(i*i)
    i+=1
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
#2. Create a list of even numbers between 1 and 50 using list comprehension.
list1=[i for i in range(1,51) if i%2==0 ]
print(list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [17]:
even_no=[]
i=1

while i <= 51:
    if i%2==0:
        even_no.append(i)
    i+=1
print(even_no)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [30]:
#3. Convert all strings in a list to uppercase using list comprehension. 
l=['we','are','hiring']
upper_l=[i.upper() for i in l]
print(upper_l)

['WE', 'ARE', 'HIRING']

In [31]:
l=['we','are','hiring']
upper_l=[]
i=0
while i<len(l):
    upper_l.append(l[i].upper())
    i+=1
print(upper_l)

['WE', 'ARE', 'HIRING']

In [38]:
#4. Given a list of integers, create a new list that contains only the positive numbers. 
li=[12.3,-12.4,-12.5,12.6,-12.7,12.8,12.9]
positive=[]

for i in li:
    if i>0:
        positive.append(i)
print(positive)
    
li=[12.3,-12.4,-12.5,12.6,-12.7,12.8,12.9]
lip=[i for i in li if i>0]
print(lip)

[12.3, 12.6, 12.8, 12.9]
[12.3, 12.6, 12.8, 12.9]

In [41]:
li=[12.3,-12.4,-12.5,12.6,-12.7,12.8,12.9]
i=0
lip_=[]
while i<len(li):
    if li[i]>0:
        lip_.append(li[i])
    i+=1
print(lip_)

[12.3, 12.6, 12.8, 12.9]

In [43]:
#5. Create a list of tuples (num, num^2) for numbers 1 to 5. 
list_tup=[]
for i in range(1,6):
    list_tup.append((i,i**2))
print(list_tup)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [50]:
list_tup=[]
i=1
while i<=5:
	list_tup.append((i,i**2))
	i+=1
print(list_tup)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [49]:
list_tup=[]
i=1
while i<=5:
	list_tup.append((i,i**2))
	i+=1
	print(list_tup)

[(1, 1)]
[(1, 1), (2, 4)]
[(1, 1), (2, 4), (3, 9)]
[(1, 1), (2, 4), (3, 9), (4, 16)]
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [53]:
#6. Extract all vowels from a given string using list comprehension. 
s='Where is my bride '
vowels={i for i in s if i.lower() in ('a','e','i','o','u')}
print(vowels)

{'e', 'i'}

In [60]:
s='Where is my bride '
vowels=[]
i=0
while i<len(s):
    if s[i].lower() in ('a','e','i','o','u'):
        vowels.append(s[i])
    i+=1
print(vowels)

['e', 'e', 'i', 'i', 'e']

In [61]:
#7. Flatten a 2D list using list comprehension.
matrix=[[1,2],[3,4]]
flat_list=[items for sublist in matrix for items in sublist]
print(flat_list)

[1, 2, 3, 4]

In [68]:
#8. Replace all negative numbers in a list with 0 using list comprehension. 
li1=[1,2,-3,-4,-5]
nega=[i if i >=0 else 0 for i in li]
nega

[12.3, 0, 0, 12.6, 0, 12.8, 12.9]

In [71]:
#9. Given a list of words, create a list of lengths of each word. 
words = ['we', 'are', 'hiring', 'now']
leng=[len(i) for i in words]
leng

[2, 3, 6, 3]

In [81]:
#10. Filter out words that start with the letter 'A' or 'a'. 
w=['apple','Ant','bright']
we=[]
for i in w:
	if i.lower().startswith('a'):
		we.append(i)
print(we)

['apple', 'Ant']

In [83]:
w=['apple','Ant','bright']
we=[]
i=0
while i <len(w):
    if w[i].lower().startswith('a'):
        we.append(w[i])
    i+=1
print(we)

['apple', 'Ant']

In [ ]:
#11. From a list of numbers, generate a list of “even” or “odd” strings using list comprehension. 
# (Like → [“even”, “odd”, “odd”, “even”…]) 
li=[14,11,5,16,17,1,18,19]
li3=['even' if int(i)%2==00.0 else 'odd' for i in li]
li3

['even', 'odd', 'odd', 'even', 'odd', 'odd', 'even', 'odd']

In [122]:
li=[14,11,5,16,17,1,18,19,'23']
li2=[]
for i in li:
	try:
		if int(i%2)==0:
			li2.append('even')
		else:
			li2.append('odd')
	except TypeError as t:
		li2.append('invalid')

print(li2)

['even', 'odd', 'odd', 'even', 'odd', 'odd', 'even', 'odd', 'invalid']

In [127]:
li=[14,11,5,16,17,1,18,19,'23']
li2=[]
i=0
while i < len(li):
    try:
        if li[i]%2==0:
            li2.append('even')
        else:
            li2.append('odd')
    except TypeError as t:
        li2.append('invalid')
    i+=1
print(li2)

['even', 'odd', 'odd', 'even', 'odd', 'odd', 'even', 'odd', 'invalid']

In [8]:
#Create a menu:1. Check Balance 2. Deposit 3. Withdraw 4. Exit *Scenario:User selects an invalid option repeatedly.

amount=10000
name=input('Enter your name:')
while True:
	try:
	    menu=int(input('Press 1:Check balance,2:Deposite,3:Withdraw,4:Exit:'))
		
		if menu==1:
			print(f"Your balance is {amount}")
		elif menu==2:
			dep=int(input('Deposit amount '))
			amount+=dep
			print(f"After deposite {dep} your account balance is")
		elif menu==3:
			wit=int(input('Withdraw amount'))
			if wit>amount:
				print(f"withdraw amount should be less than {amount} ")
			else:
				amount-=wit
				print(f"Your amount after withdraw {wit} is {amount}")
		elif menu==4:
			print(f"{name}!! Thank You for vising")
			break
		else:
			print('Invalid option selected.Please select between 1 to 4')
	
	except ValueError as v:
	     print(f"Invalid input: {v}")

TabError: inconsistent use of tabs and spaces in indentation (<string>, line 9)

In [2]:
amount = 10000
name = input('Enter your name: ')

while True:
    try:
        menu = int(input('Press 1:Check balance, 2:Deposit, 3:Withdraw, 4:Exit: '))

        if menu == 1:
            print(f"Your balance is {amount}")

        elif menu == 2:
            dep = int(input('Deposit amount: '))
            amount += dep
            print(f"After deposit {dep}, your account balance is {amount}")

        elif menu == 3:
            wit = int(input('Withdraw amount: '))
            if wit > amount:
                print(f"Withdraw amount should be less than {amount}")
            else:
                amount -= wit
                print(f"Your amount after withdraw {wit} is {amount}")

        elif menu == 4:
            print(f"{name}!! Thank you for visiting")
            break

        else:
            print('Invalid option selected. Please select between 1 to 4')

    except ValueError as v:
        print(f"Invalid input: {v}")

After deposit 300, your account balance is 10300
Your amount after withdraw 4000 is 6300
Invalid option selected. Please select between 1 to 4
Withdraw amount should be less than 6300
dipti!! Thank you for visiting

In [10]:
# guessing game

import random

num=random.randint(1,101)

def jackpot():
	
	while True:
		
		try:
			guess=input('Guess the no between 1 to 100')
			guess=int(guess)
			if num!= guess:
				if guess>num:
					print('Guess lower',guess)
				elif guess<num:
					print('Guess higher',guess)
				else:
					print('Congratulations!! Correct Guess',num)
			else:
				print('Congratulations!! Correct Guess',num)
				break

		except ValueError as v:
			return f"Value error: {v}"
	    
		except Exception as e:
			return f"Error: {e}"

In [11]:
jackpot()

Guess higher 34

"Value error: invalid literal for int() with base 10: 'e4'"

DATE

In [ ]:
from datetime import datetime
def calculate_age(dob):
    birth_date=datetime.strptime(dob,'%Y-%m-%d').date()
    today=

In [ ]:
from datetime import datetime

def calculate_age(dob):
    try:
        # dob format: YYYY-MM-DD
        birth_date = datetime.strptime(dob, "%Y-%m-%d").date()
        today = datetime.today().date()

        age = today.year - birth_date.year

        if (today.month, today.day) < (birth_date.month, birth_date.day):
            age -= 1

        return age

    except ValueError:
        return "Invalid date format! Use YYYY-MM-DD"

In [ ]:
from datetime import datetime

def check_age_eligibility(dob, eligibility_age):
    try:
        birth_date = datetime.strptime(dob, "%Y-%m-%d").date()
        today = datetime.today().date()

        age = today.year - birth_date.year
        if (today.month, today.day) < (birth_date.month, birth_date.day):
            age -= 1

        return "Eligible" if age >= eligibility_age else "Not Eligible"

    except ValueError:
        return "Invalid DOB format! Use YYYY-MM-DD"

In [ ]:
from datetime import date

def check_eligibility(dob):
    birth_year, birth_month, birth_day=dob
    today = date.today()

    age = today.year - birth_year
    if (today.month, today.day) < (birth_month, birth_day):
        age -= 1

    if age >= 21:
        return f"Eligible (Age: {age})"
    else:
        return f"Not Eligible (Age: {age})"

In [ ]:
from datetime import date
def check_age_eligibility(dob):
	try:
		birth_year,birth_month,birth_day=dob
		if not isinstance(dob,tuple):
			raise TypeError('dob must be numeric')
		if not all(isinstance(i,int) for i in dob):
			raise ValueError('dob must be int')
		today=date.today()
		age=today.year-birth_year
		if (today.month,today.day)<(birth_month,birth_day):
			age -= 1
		if age>=21:
			return f"Eligible (age:{age})"
		else:
			return f"Not eligible(age:{age})"
	except TypeError as t:
		return f"Value Error:{t}"
	except ValueError as v:
		return f"ValueError:{v}"
	except Exception as e:
		return f"Error: {e}"

In [90]:

check_age_eligibility((2003,2,'w'))

'ValueError:dpb must be int'

In [2]:
# file is in timestamp,billprinting

# Notebook bill printing

notebook = input('Enter notebook type (Square/4lines/2lines/Single lines/A4 notebook): ')
page = int(input('Enter how many pages do you want (100/200): '))

price = 0

if notebook not in ('Square', '4lines', '2lines', 'Single lines', 'A4 notebook'):
    print('Invalid notebook type')

elif page == 100:
    if notebook == 'Square':
        price = 40
    elif notebook in ('4lines', '2lines'):
        price = 30
    elif notebook == 'Single lines':
        price = 60
    elif notebook == 'A4 notebook':
        price = 100

elif page == 200:
    if notebook == 'Square':
        price = 70
    elif notebook in ('4lines', '2lines'):
        price = 50
    elif notebook == 'Single lines':
        price = 100
    elif notebook == 'A4 notebook':
        price = 180

else:
    print('Invalid page count')

# Bill printing & saving to file
if price > 0:
    with open("C:\\Users\\shind\\Downloads\\bill.txt", "w") as file:
        file.write("======== NOTEBOOK BILL ========\n")
        file.write(f"Notebook Type : {notebook}\n")
        file.write(f"Pages         : {page}\n")
        file.write("--------------------------------\n")
        file.write(f"Total Price   : ₹{price}\n")
        file.write("================================\n")

    print("\n======== NOTEBOOK BILL ========")
    print("Notebook Type :", notebook)
    print("Pages         :", page)
    print("--------------------------------")
    print("Total Price   : ₹", price)
    print("================================")
    print("\nBill saved in notebook_bill.txt")

UnicodeEncodeError: 'charmap' codec can't encode character '\u20b9' in position 16: character maps to <undefined>

In [ ]:
def square_generator(n):
    for i in range(1, n + 1):
        yield i * i

# Using the generator
for value in square_generator(5):
    print(value)

In [ ]:
l1 = [1,2,2,3]
d1 = {1:100,'a':10,"b":20,"c":30, 3:400}

new_list = []
for item in l1:
  if item in d1:
    if item == 1 or item == 3:
      print(d1[item])
    else:
      print("Key not found")

In [11]:
#name,mobile,pan,10th,12th,grad_marks
#1.validate the all input info
#2.after validation add into the dict and will return the roll\emp_id
#3.save this info in the file
#4. on the next record check if alreayd record exists then add with new id

import re
import os

file="C:\\Users\\shind\\Desktop\\Just copy\\bill.txt"
try:
	name=input('enter your name')
	mobile=input('enter mobile')
	pan=input('Enter your pan no').upper()
	tenth_marks=input('Enter 10 th marks')
	twelth_marks=input('enter 12th marks')
	grad=input('enter your graduation marks')
	if not name.replace(' ','').isalpha():
		raise ValueError('Invalid name added')
	if not (mobile.isdigit() and len(mobile)==10):
		raise ValueError('Mobile no must be int and 10 digit')
	if not re.fullmatch('[A-Z]{5}[0-9]{4}[A-Z]',pan):
		raise ValueError('Pan must be in valid format')
	if not (tenth_marks.isdigit() and 0<=int(tenth_marks)<=100):
		raise ValueError('Marks should be in integer')
	if not (twelth_marks.isdigit() and 0<=int(twelth_marks)<=100):
		raise ValueError('marks is in int')
	if not (grad.isdigit() and 0<=int(grad)<=100):
		raise ValueError('marks is in int')
	
	if os.path.exists(file):
		with open(file,'r') as f:
			lines=f.readlines()
			emp_id=len(lines)+1
	else:
		emp_id=1

	total_record={
		'ID':emp_id,
		'Name':name,
		'Mobile':mobile,
		'Pan':pan,
		'10th':int(tenth_marks),
		'12th':int(twelth_marks),
		'grad':int(grad)
	}

	with open(file,'a') as f:
		f.write(f'{total_record}\n')
	print('Records added succesfully')
	print('Your id is: ',emp_id)
	print(total_record)

except ValueError as v:
		print (f"ValueError: {v}")

Records added succesfully
Your id is:  3
{'ID': 3, 'Name': 'dipti', 'Mobile': '1234567890', 'Pan': 'ASDFG1234A', '10th': 89, '12th': 67, 'grad': 45}

In [4]:
import re
import os
file="C:\\Users\\shind\\Desktop\\Just copy\\bill.txt"


def name_():
	name=input('enter name:')
	if not name.replace(' ','').isalpha():
		raise ValueError('Invalid name added')
	return name
def mobile_():
	mobile=input('enter mobile no')
	if not (mobile.isdigit() and len(mobile)==10):
		raise ValueError('Mobile no must be int and 10 digit')
	return mobile
def pan_():
	pan=input('Enter your pan no').upper()
	if not re.fullmatch('[A-Z]{5}[0-9]{4}[A-Z]',pan):
		raise ValueError('Pan must be in valid format')
	return pan
def tenth_marks_():
	tenth_marks=input('Enter 10 th marks')
	if not (tenth_marks.isdigit() and 0<=int(tenth_marks)<=100):
		raise ValueError('Marks should be in integer')
	return tenth_marks
def twelth_marks_():
	twelth_marks=input('enter 12th marks')
	if not (twelth_marks.isdigit() and 0<=int(twelth_marks)<=100):
		raise ValueError('marks is in int')
	return twelth_marks
def grad_():
	grad=input('enter graduation marks')
	if not (grad.isdigit() and 0<=int(grad)<=100):
		raise ValueError('marks is in int')
	return grad
	
		
def records():
	try:
		if os.path.exists(file):
			with open(file,'r') as f:
					emp_id=len(f.readlines())+1
					for line in lines:
						
		else:
			emp_id=1
	
			
		emp_name=name_()
		emp_mobile=mobile_()
		emp_pan=pan_()
		emp_ten=tenth_marks_()
		emp_twelth=twelth_marks_()
		emp_grad=grad_()
				
		data={
			'ID':emp_id,
			'Name':emp_name,
			'Mobile':emp_mobile,
			'Pan no':emp_pan,
			'10th':emp_ten,
			'12th':emp_twelth,
			'Graduation':emp_grad
		}
		if pan in data:
			return f"This pan alredy exist in the system"
	

		with open(file,'a') as f:
			f.write(f'{data}\n')

	
		print('Records added')
		print("Employee id",emp_id)
		return data
	except Exception as e:
		return f"Error: {e}"

IndentationError: expected an indented block after 'for' statement on line 43 (733730867.py, line 45)

In [40]:
records()

Records added
Employee id 2

{'ID': 2,
 'Name': 'rushi',
 'Mobile': '0987654321',
 'Pan no': 'QWERT1234E',
 '10th': '90',
 '12th': '90',
 'Graduation': '90'}

In [ ]:
import re
import os

file="C:\\Users\\shind\\Desktop\\Just copy\\bill.txt"

def name_():
    name=input('enter name:')
    if not name.replace(' ', '').isalpha():
        raise ValueError('Invalid name added')
    return name

def mobile_():
    mobile=input('enter mobile no:')
    if not (mobile.isdigit() and len(mobile) == 10):
        raise ValueError('Mobile no must be int and 10 digit')
    return mobile

def pan_():
    pan=input('Enter your pan no:').upper()
    if not re.fullmatch('[A-Z]{5}[0-9]{4}[A-Z]', pan):
        raise ValueError('Pan must be in valid format')
    return pan

def tenth_marks_():
    tenth_marks=input('Enter 10 th marks:')
    if not (tenth_marks.isdigit() and 0 <= int(tenth_marks) <= 100):
        raise ValueError('Marks should be in integer')
    return tenth_marks

def twelth_marks_():
    twelth_marks=input('enter 12th marks:')
    if not (twelth_marks.isdigit() and 0 <= int(twelth_marks) <= 100):
        raise ValueError('marks is in int')
    return twelth_marks

def grad_():
    grad=input('enter graduation marks:')
    if not (grad.isdigit() and 0 <= int(grad) <= 100):
        raise ValueError('marks is in int')
    return grad

def records():
    try:
        if os.path.exists(file):
            with open(file, 'r') as f:
                lines=f.readlines()
                emp_id=len(lines) + 1
        else:
            lines=[]
            emp_id=1

        
        pan=pan_()

       
        for line in lines:
            if pan in line:
                return "This pan already exists in the system"

        # Now take remaining inputs
        emp_name=name_()
        emp_mobile=mobile_()
        emp_ten=tenth_marks_()
        emp_twelth=twelth_marks_()
        emp_grad=grad_()

        data={
            'ID': emp_id,
            'Name': emp_name,
            'Mobile': emp_mobile,
            'Pan no': pan,
            '10th': emp_ten,
            '12th': emp_twelth,
            'Graduation': emp_grad
        }

        with open(file, 'a') as f:
            f.write(f'{data}\n')

        print('Records added')
        print("Employee id", emp_id)
        return data

    except Exception as e:
        return f"Error: {e}"

In [9]:
records()

Records added
Employee id 3

{'ID': 3,
 'Name': 'dip',
 'Mobile': '7878785656',
 'Pan no': 'SDFGH7654R',
 '10th': '90',
 '12th': '89',
 'Graduation': '90'}

In [1]:
menu={'chicken fry':{'Price':120,'category':'Starter'},
      'soup':{'Price':100,'category':'Starter'},
      'chicken masala':{'Price':250,'category':'Main Course'},
      'paneer masala':{'Price':250,'category':'Main Course'},
      'ras malai':{'Price':75,'category':'Dessert'}
	  }

class order():
    def __init__(s,table_no):
        s.table_no=table_no
        s.items=[]             # items
        s.delivery_={}
    def add_menu(s,item_name):
        if item_name in menu:
            s.items.append(item_name)
            s.delivery_[item_name]=False
            print(f"{item_name} is added in menu")
        else:
            print('selected item is not in the menu')
    def delivered(s,item_name):
        if item_name in s.delivery_:
            s.delivery_[item_name]=True
            print(f'{item_name} is delivered')
        else:
            print(f'{item_name} is not delivered')
    def total_bill(s):
        total=0
        for item in s.items:
             total += menu[item]['Price']
        return total
    def bill_print(s):
        print('\n'+'-'*50)
        print(' '*15+"Dipti's Kitchen"+' '*20)
        print('-'*50)
        print(f"Table num: {s.table_no}")
        print('-'*50)
        for item in s.items:
            price=menu[item]['Price']
            status='delivered' if s.delivery_[item] else 'pending'
            print(f"{item:25} {price:<5} {status}")
        print('-'*50)
        print(f"Total Bill: {' '*13} {s.total_bill()}")
        print('-'*50)
               
    def save_bill(s):
        with open("C:\\Users\\shind\\Desktop\\Backup\\bill123.txt",'w') as f:
            f.write(f"'\n'+'-'*50")
            f.write(f"' '*15+'Dipti Kitchen'+' '*20")
            f.write(f"'-'*50")
            f.write(f"Table num: {s.table_no}")
            f.write(f"'-'*50")
            for item in s.items:
                 price=menu[item]['Price']
                 status='delivered' if s.delivery_[item] else 'pending'
                 f.write(f"{item:25} {price:<5} {status}\n")
            f.write(f"'-'*50")
            f.write(f"Total Bill: {' '*13} {s.total_bill()}\n")
            f.write(f"'-'*50")
        print('Bill saves successfuly')
                 
for item,details in menu.items():
	print(f"{item:25} {details['Price']} ({details['category']})") 
table_no= int(input('Enter table no:'))  
order_=order(table_no)

while True:
    item=input('Enter item name (type ok if you are done):').lower()
    if item.lower()=='ok':
        break
    order_.add_menu(item)
while True:
    item=input('Enter delivered item name(or type ok if not):')
    if item.lower()=='ok':
         break
    order_.delivered(item)
order_.bill_print()
order_.save_bill()

chicken fry               120 (Starter)
soup                      100 (Starter)
chicken masala            250 (Main Course)
paneer masala             250 (Main Course)
ras malai                 75 (Dessert)
chicken masala is added in menu
soup is added in menu

--------------------------------------------------
               Dipti's Kitchen
--------------------------------------------------
Table num: 2
--------------------------------------------------
chicken masala            250   pending
soup                      100   pending
--------------------------------------------------
Total Bill:               350
--------------------------------------------------
Bill saves successfuly

In [ ]:
def square_generator(n):
    for i in range(1, n + 1):
        yield i * i

# Using the generator
for value in square_generator(5):
    print(value)

In [ ]:
---
l1 = [1,2,2,3]
d1 = {1:100,'a':10,"b":20,"c":30, 3:400}

new_list = []
for item in l1:
  if item in d1:
    if item == 1 or item == 3:
      print(d1[item])
    else:
      print("Key not found")
---